.Recipe {
    max-width: 1000px;
    margin: 10px auto;
    min-height: 90vh;
    border-radius: 6px;
    color: white;
    background: rgba(65, 65, 65, 0.418);
}

.Recipe h1 {
    font-size: 3rem;
    margin: 10px;    
}

.Recipe h2 {
    font-size: 2rem;
    margin: 10px;
    text-decoration: underline;
}

.Recipe .recipe-instructions {
    font-size: 1.6rem;
    margin: 10px;
    width: 60%;
    line-height: 1.2;
}

.Recipe .IngredientsCard {
    font-size: 1.6rem;
    margin: 10px;
    width: 40%;
    line-height: 1.2;
}

.Recipe .content {
    display: flex;
    padding: 20px;
}

.recipe-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.recipe-list .recipe {
    border: 1px solid white;
    background: rgba(65, 65, 65, 0.418);
    margin: 10px;
    width: 20%;
    min-height: 30vh;
}

.recipe-list a {
    color: white;
}