.Home {
    color: white;
    max-width: 1000px;
    margin: 10px auto;
    min-height: 90vh;
    border-radius: 6px;
}

.Home h1 {
    padding: 20px 0;
    font-size: 3rem;
    width: 100%;
    background: rgba(65, 65, 65, 0.418);
}