.Navbar {
    display: flex;
    justify-content: space-between;
    padding: 10px 30px;
    background: rgba(65, 65, 65, 0.418);
}

.Navbar .logo {
    letter-spacing: 5px;
    font-family: 'Varela', sans-serif;
    font-weight: 600;
    font-size: 2rem;
    color: white
}

.Navbar a {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

.Navbar .nav-links {
    display: flex;
    justify-content: space-between;
    width: 10%;
    align-items: center;
}

.Navbar a:hover {
    text-decoration: underline;
}