.dish-list {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.dish-list .dish {
    border: 1px solid white;
    width: 20%;
    min-height: 30vh;
    margin: 10px;
}

.Dish {
    max-width: 1000px;
    background: rgb(252, 223, 232);
    margin: 10px auto;
    min-height: 90vh;
    border-radius: 6px;
    border: 3px solid palevioletred;
}

.Dish .dishname {
    font-size: 3rem;
    margin: 10px;
}

.TopFive h2 {
    margin: 20px auto;
    font-size: 3rem;
}

.TopFive .dish-list .dish {
    width: 20%;
    min-width: 200px;
    min-height: 20vh;
    margin: 10px;
}